* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --azul: #060821;
    --rosa: #C12D6D;
    --branco: #ffffff;
    --font1: 'Titillium Web', sans-serif;
    --font2: 'Righteous', cursive;
    --font3:
  
  }