* {
    background-color: var(--preto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}

:root {
    --preto: #000000;
    --vermelho: #84141A;
    --branco: #ffffff;
    --azul: #0C1556;
    --amarelo: #FBC02C;
    --verde: #157f17;
    

    --font1: 'Poppins', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'TTNorms-Regular.otf';
}
